$acf-bg: #f3f3f4

// Fixed bug where Wide column is almost full when on smaller screen
.wp-block[data-type="core/group"][data-align=full]>div>.wp-block-group>.wp-block-group__inner-container>.block-editor-inner-blocks
  padding: 0 3rem

.wp-block
  // Fixed reusable block being constrained to narrow size
  &.is-reusable
    max-width: none


// Change Styles selector to be like wp 6.0
.block-editor-block-styles
  margin-bottom: 1.5rem

  .block-editor-block-styles__item-preview
    display: none
  .block-editor-block-styles__item
    border: 2px solid #ccc
    padding: 3px
    &:hover
      border-color: #007cba
      color: #007cba
    &.is-active
      border-color: transparent
      background-color: #2f2f2f
      color: white

///// PARAGRAPH

.editor-styles-wrapper
  > *
    font-family: var(--fontFamily, sans-serif)
    font-size: var(--fontSize, 16px)
    font-weight: var(--fontWeight, 400)
    line-height: var(--lineHeight, 1.65)
    color: var(--text, #333)

  p.is-style-h-no-spacing
    margin-bottom: calc(var(--blockGap) * -1) !important

// empty paragraph
[data-is-placeholder-visible="true"]
  + .wp-block-paragraph::before
    content: ""
    position: absolute
    top: -0.5rem
    right: -0.5rem
    left: -0.5rem
    bottom: -0.5rem
    border: 1px dashed rgba(black, .3)

.wp-block-paragraph.has-drop-cap:first-letter
  font-size: 6rem
  line-height: 4.5rem

///// HEADING

.editor-post-title__block .editor-post-title__input,
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6,
.editor-styles-wrapper .has-drop-cap:not(:focus)::first-letter
  font-family: var(--hFontFamily, sans-serif)
  font-weight: var(--hFontWeight, 700)
  text-transform: var(--hTextTransform, initial)
  line-height: var(--hLineHeight, 1.25)
  margin-bottom: 0

.editor-styles-wrapper
  h1
    font-size: var(--h1Size, 46px)
  h2
    font-size: var(--h2Size, 38px)
  h3
    font-size: var(--h3Size, 30px)
  h4
    font-size: var(--h4Size, 24px)
  h5
    font-size: var(--h5Size, 20px)
  h6
    font-size: var(--h6Size, 16px)

div.editor-styles-wrapper [data-type="core/heading"]
  clear: both

  &.has-background
    padding: 1rem 1.5rem

  &.is-style-h-no-spacing
    line-height: var(--lineHeight)
    margin-bottom: calc(var(--blockGap) * -1)

  sub,
  sup
    text-transform: uppercase
    letter-spacing: 0.05em
    font-size: 50%
    font-weight: 400

///// LIST

[data-type="core/list"]
  ol
    list-style-type: lower-alpha

  &.has-background
    padding: 1rem 1.5rem
    padding-left: 2.5rem
    

///// IMAGE

// don't allow image resized beyond 100%
.wp-block-image .components-resizable-box__container
  max-width: 100% !important

// fix floating
.editor-styles-wrapper .block-editor-block-list__layout
  div.wp-block[data-align="left"],
  div.wp-block[data-align="right"]
    float: none

  div.wp-block[data-align="left"] > *:first-child
    float: left
  
  div.wp-block[data-align="right"] > *:first-child
    float: right

.wp-block[data-align="left"],
.wp-block[data-align="right"]
  > .wp-block-image
    max-width: 50%

    .components-resizable-box__container
      width: 100% !important
      height: auto !important
    .components-resizable-box__handle
      display: none

  figcaption
    text-align: left
  
.wp-block[data-align="right"] figcaption
  text-align: right


[data-type="core/image"][data-align="left"],
[data-type="core/image"][data-align="right"]
  .editor-block-list__block-edit,
  .components-resizable-box__container,
  img
    max-width: 305px

  [data-block]
    margin-top: 0
    margin-bottom: 0

///// MEDIA TEXT

.wp-block-media-text
  --columnMedia: minmax(0, 1fr)
  --columnContent: minmax(0, 1fr)
  grid-template-columns: var(--columnMedia) var(--columnContent) !important

  &.has-media-on-the-right
    grid-template-columns: var(--columnContent) var(--columnMedia) !important


  .components-resizable-box__container.has-show-handle .components-resizable-box__handle
    display: none

  &.is-style-h-larger-image
    --columnMedia: 3fr
    --columnContent: 2fr

  &.is-style-h-smaller-image
    --columnMedia: 2fr
    --columnContent: 3fr


///// GALLERY

// if not cropped, put caption below image
.wp-block-gallery:not(.is-cropped)
  figure
    flex-direction: column
  
  .blocks-gallery-item figcaption.rich-text
    position: relative
    overflow-y: visible
    margin-top: auto
    padding-top: 0.5rem
    padding-bottom: 0.5rem
    background-image: none
    color: var(--text, #222)

    a
      color: inherit

// GALLERY Thumbnails

.wp-block-gallery.is-style-h-thumbnails
  display: grid
  grid-template-columns: repeat(var(--columns, 3), 1fr)
  column-gap: 1rem
  row-gap: 1rem

  .wp-block-image
    width: 100% !important
    height: 100%
    padding-bottom: 75%

  .wp-block-image > div > img
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    height: 100%

  figure.wp-block-image figcaption
    padding: 1rem
    text-align: left
  
  strong
    display: block
    font-size: var(--mFontSize)
    font-family: var(--hFontFamily)

  .is-style-h-thumbnail-wide
    grid-column: span 2
    padding-bottom: calc(37.5% - 8px)

  .is-style-h-thumbnail-tall
    grid-row: span 2
  
///// COVER

.has-custom-content-position
  --alignX: center
  --alignY: center

  &[class*="is-position-top-"]
    --alignY: flex-start

  &[class*="is-position-bottom-"]
    --alignY: flex-end

  &[class*="-right"]
    --alignX: flex-end

  &[class*="-left"]
    --alignX: flex-start

.wp-block-cover
  display: flex
  align-items: stretch !important
  justify-content: center !important

.wp-block-cover.is-light .wp-block-cover__inner-container
  color: var(--textInvert, white)

// Change the custom position to be within --siteWidth
.wp-block-cover .wp-block-cover__inner-container
  display: flex
  flex-direction: column
  align-items: var(--alignX, center)
  justify-content: var(--alignY, center)
  width: var(--siteWidth, 1120px) !important

  > *
    width: 100%
    max-width: var(--blogWidth, 650px)

  .alignwide
    max-width: var(--siteWidth, 1120px)

  .wp-block-cover__inner-container
    min-width: var(--blogWidth, 650px)
    width: 100%


///// GROUP

// Center the [ + ] box when displaying empty group 
.wp-block-group[data-type="core/group"] > .block-list-appender
  margin-right: auto
  margin-left: auto

.wp-block-group
  &:not(.has-background)
    border: 1px dashed var(--textDim, #888)

  &.has-background
    padding: 1.5rem

  > *
    max-width: var(--blogWidth, 650px)
    margin-right: auto
    margin-left: auto

  > *[data-align="wide"]
    max-width: var(--siteWidth, 1000px)


///// FILE

.wp-block-file
  background-color: rgba(black, .05)
  padding: 1rem

[data-type="core/file"]
  .wp-block-file__content-wrapper
    text-align: center

///// COLUMNS

.wp-block-columns.has-background
  border-radius: var(--gRadius, 4px)

.wp-block-column.has-background
  padding: 1rem
  border-radius: var(--gRadius, 4px)

.wp-block-columns.is-style-h-no-gap
  column-gap: 0
  
  .block-editor-block-list__block.wp-block-column:not(:first-child)
    margin-left: 0

  .wp-block-column
    border-radius: 0

.wp-block-columns.is-style-h-wide-gap
  column-gap: var(--wideGap)

///// CODE

pre.wp-block-code
  background-color: rgba(black, 0.05)

  code
    background-color: transparent

///// BUTTON

.wp-block-button-wrapper
  width: 100%

[data-align="center"] .wp-block-button__inline-link
  margin-right: auto
  margin-left: auto
 
///// SEPARATOR

[data-type="core/separator"]
  [data-block]
    padding-top: 0.5rem
    padding-bottom: 0.5rem

///// SPACER

.wp-block-spacer.is-style-h-negative
  border: 1px dashed var(--gray)

  &::before
    content: ""
    background: url('./minus.svg') no-repeat center center
    background-size: 1.5rem auto
    opacity: .2

///// QUOTE

// QUOTE Timeline
.wp-block-quote.is-style-h-timeline
  --gap: 2rem
  --x: 50%
  --x2: 100%

  position: relative
  max-width: calc(var(--siteWidth) / 2 - var(--gap))
  transform: translateX(calc(-20% - var(--gap)))
  
  border: none
  padding: var(--blockGap)
  box-shadow: var(--shadowThin)

  cite
    position: absolute
    top: 50%
    right: calc(-1 * var(--gap))
    transform: translateY(-50%) translateX(var(--x2))
    
    margin-top: 0
    padding: 0 0.5rem
    background-color: var(--grayLight)
    border-radius: var(--gRadius)

    font-size: var(--fontSize)
    font-weight: 700
    font-style: normal
    color: var(--text)

  // Right
  &.has-text-align-right
    --x: -50%
    --x2: -100%

    text-align: left
    transform: translateX(calc(20% + var(--gap)))

    cite
      left: calc(-1 * var(--gap))
      right: auto
    &::before,
    &::after
      left: calc(-1 * var(--gap))
      right: auto

  // Center
  &.has-text-align-center
    transform: none
    max-width: var(--blogWidth)

    cite
      top: 0
      left: 50%
      right: auto
      transform: translateX(-50%) translateY(-50%)

    &::before
      display: none


///// SOCIAL LINKS

[data-type="core/social-links"]

  .editor-block-list__layout
    flex-wrap: wrap


.wp-social-link
  margin-bottom: 0.5rem
  border-radius: var(--gRadius, 4px)

  .is-style-pill-shape &
    border-radius: 20px


///// ACF GUTENBERG

.acf-block-body
  font-family: var(--fontFamily, sans-serif)

  .acf-label,
  .acf-input p,
  .acf-label .description,
  .acf-table
    font-size: 13px

%acf-wide-field
  margin-right: -3rem
  margin-left: -3rem

// ACF Block - styled to be similar to Embed block
div.acf-block-body .acf-fields
  display: grid
  justify-content: center
  padding: 1.5rem 4.5rem
  min-height: 200px
  grid-template-columns: repeat(10, 1fr)
  grid-column-gap: 1rem
  grid-row-gap: 1rem
  border: none


  > *
    width: 100% !important
    grid-column: span 10

  $widths: ( 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 )
  @each $w in $widths
    > [data-width^="#{$w}"]
      grid-column: span #{$w}

  &::after
    display: none

  select
    text-transform: capitalize

  // single field
  div.acf-field
    padding: 0

// Background color (also change the Embed block color)
div.acf-block-body .acf-fields,
div.components-placeholder
  background-color: $acf-bg


// MESSAGE Field
div.acf-block-body div.acf-field.acf-field-message
  align-self: flex-end
  padding: 0.5rem 1rem
  background-color: rgba(white, .5)

  .acf-label
    margin: 0
    text-align: center
    font-size: 14px

  label
    cursor: default

  p
    margin: 0
    text-align: center


// ACF RADIO field
div.acf-block-body .acf-field-radio
  .acf-label
    margin-right: 1rem

  .acf-radio-list
    margin-bottom: 0

// ACF GALLERY field
div.acf-block-body
  .acf-gallery-toolbar ul
    margin-bottom: 0

  .acf-gallery-main
    right: 0 !important

  .acf-gallery-side
    position: absolute
    z-index: 10
  
  .acf-gallery-side-info
    width: auto
    margin: -10px -10px 1em


// ACF WYSIWYG field

// Remove most buttons in TinyMCE Editor
div.acf-block-component .acf-field-wysiwyg
  [aria-label*="Underline"],
  [aria-label*="Blockquote"],
  [aria-label*="Strikethrough"],
  [aria-label*="Align"],
  [aria-label*="Undo"],
  [aria-label*="Redo"],
  [aria-label*="Fullscreen"],
  [aria-label*="Read More"],
  [aria-label*="Toolbar Toggle"]
    display: none

div.acf-block-component .acf-field-wysiwyg .mce-edit-area iframe
  height: 200px


// ACF RELATIONSHIP field

div.acf-block-body .acf-relationship
  @extend %acf-wide-field


// ACF TAB field

div.acf-block-body .acf-fields > .acf-tab-wrap
  background-color: transparent

  .acf-tab-group
    margin-right: -4.5rem
    margin-left: -4.5rem
    padding-right: 4.5rem
    padding-left: 4.5rem
    border-top: none
    
    li.active a
      background-color: $acf-bg


// ACF REPEATER field

div.acf-block-body .acf-repeater
  @extend %acf-wide-field

  .acf-table
    border-collapse: collapse

  .acf-row-handle
    background-color: #f9f9f9

  .acf-row-handle.order
    border-right: 1px solid #dfdfdf

div.acf-block-body .acf-repeater.-block
  .acf-fields
    padding: 0.5rem !important
    border-bottom: 1px solid #dfdfdf


div.acf-block-body .acf-repeater.-row
  .acf-fields
    grid-row-gap: 0
  .acf-field
    padding: 0.5rem
  .acf-label
    padding: 0
  .acf-input
    padding: 0 0.25rem


// ACF FLEXIBLE CONTENT field

div.acf-block-body .acf-flexible-content
  @extend %acf-wide-field

  .acf-fields
    background-color: rgba(white, .1)

// fields at sidebar
div.edit-post-sidebar .acf-block-fields
  padding-top: 1rem
  padding-bottom: 1rem
  margin: 0

  div.acf-field
    margin: 0
    margin-bottom: 1rem
    padding: 0 1rem
    width: 100% !important

    &.acf-field-message
      display: none


//
.acf-block-post-list
  a
    pointer-events: none


//// JETPACK

// Hide the useless form block from selection
.components-autocomplete__result.components-button
  &[id*="block-jetpack/contact-form-"]
    display: none

.block-editor-block-types-list__list-item
  [class*="editor-block-list-item-jetpack-contact-form-"]
    opacity: .3