$include-grid: true
$include-tile: true
$output-framework: true
@import "settings"

$acf-block-bg: #f3f3f4

///// COLUMNS

.editor-inner-blocks > .editor-block-list__layout > [data-type="core/column"]
  .is-style-2-1 &
    &:nth-child(1)
      flex-basis: calc(66.7% - 44px)
    
  .is-style-1-2 &
    &:nth-child(2)
      flex-basis: calc(66.7% - 44px)


///// PARAGRAPH

// empty paragraph
[data-is-placeholder-visible="true"]
  + .wp-block-paragraph::before
    content: ""
    +h( absolute top-0_5 right-0_5 left-0_5 bottom-0_5 )
    border: 1px dashed rgba(black, .3)


///// BLOCK QUOTE

.wp-block-quote[style*="text-align:center"], .wp-block-quote[style*="text-align: center"]
  +h( pt1 )
  border-top: 4px solid #000

.wp-block-quote.is-style-large
  +h( pb1 ta-center )
  border-top: 4px solid gray
  border-bottom: 4px solid gray

  p
    font-style: normal


///// COVER

.wp-block-cover .wp-block-cover__inner-container



///// GROUP

.wp-block-group
  &:not(.has-background)
    border-top: 1px dashed $gray
    border-bottom: 1px dashed $gray

  &.has-background
    padding: 33px 0


///// MEDIA TEXT

.wp-block-media-text
  +h( ai-start )
  grid-template-columns: 50% auto !important

  &.is-style-smaller-image,
  &.is-style-larger-image.has-media-on-the-right
    grid-template-columns: 33% auto !important

  &.is-style-larger-image,
  &.is-style-smaller-image.has-media-on-the-right
    grid-template-columns: 67% auto !important

  .block-library-media-text__media-container + span
    +h( d-none )


///// PULLQUOTE
// Transformed into FAQ

.wp-block-pullquote
  +h( pv0 b0 ta-left )

  blockquote > .block-editor-rich-text p
    +h( pl1 lh-body fs-s )

  blockquote
    +h( d-flex fd-column m0 )

  .editor-rich-text:first-child
    +h( order2 d-none )

    [data-type="core/pullquote"].is-selected &,
    [data-type="core/pullquote"].is-typing &
      +h( d-block )
  
  .wp-block-pullquote__citation
    +h( mb1_5 pv0_5 ph1 bg-black_05 )
    +h( tt-none c-inherit fw700 fs-m  brad )

    &::before
      content: "+"
      +h( d-iblock mr1 fw700 )

.wp-block-pullquote.is-style-solid-color blockquote
  +h( maxw-none )

  .wp-block-pullquote__citation
    +h( bg-transparent )

  >.block-editor-rich-text p
    +h( mb1 fs-s ) 

///// FILE

.wp-block-file
  +h( bg-gray-light p1 )


///// TABLE

.wp-block-table
  +h( bg-white )
  --tableBorder: var(--black)
  --tableHeader: var(--gray-light)
  --tableBg: var(--gray-light)

  thead tr,
  tfoot tr
    +h( fw700 ta-left )
    background-color: var(--tableBg)
    
  thead tr
    border-bottom: 3px solid var(--tableBorder)
  tfoot tr
    border-top: 3px solid var(--tableBorder)

  tr
    +h( bg-transparent )

  th,
  td
    border: 1px solid var(--gray)

  &[class*="-background-color"]
    +h( bg-white )

  // default color palette 
  &.has-subtle-pale-green-background-color
    --tableBorder: var(--green)
    --tableHeader: var(--green-light)
    --tableBg: rgba(var(--greenRGB), .1)

  &.has-subtle-pale-blue-background-color
    --tableBorder: var(--blue)
    --tableHeader: var(--blue-light)
    --tableBg: rgba(var(--blueRGB), .1)

  &.has-subtle-pale-pink-background-color
    --tableBorder: var(--red)
    --tableHeader: var(--red-light)
    --tableBg: rgba(var(--redRGB), .1)


.wp-block-table.is-style-stripes
  +h( bg-white )
  border-collapse: collapse

  th,
  td
    border: 1px solid var(--gray)

  // The default stripe is on Odd row, remove it
  tbody tr:nth-child(odd),
  &.has-background tbody tr:nth-child(odd)
    +h( bg-transparent )

  tbody tr:nth-child(even)
    background-color: var(--tableBg)


///// BUTTON

.wp-block-button__link
  +h( bg-main )

  .is-style-outline &
    background-color: transparent !important


///// ACF GUTENBERG

.acf-block-body
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

  .acf-label,
  .acf-input p,
  .acf-label .description,
  .acf-table
    font-size: 13px

%acf-wide-field
  +h( mh-3 )

// ACF Block - styled to be similar to Embed block
div.acf-block-body .acf-fields
  +h( d-grid jc-center pv1_5 ph4_5 minh200px )
  grid-template-columns: repeat(12, 1fr)
  grid-column-gap: 1rem
  grid-row-gap: 1rem
  border: none
  background-color: $acf-block-bg

  .acf-block-panel &
    +h( minh-auto pv2 )

  > *
    width: 100% !important
    grid-column: span 12

  > [data-width="12"]
    grid-column: span 12
  > [data-width="11"]
    grid-column: span 11
  > [data-width="10"]
    grid-column: span 10
  > [data-width="9"]
    grid-column: span 9
  > [data-width="8"]
    grid-column: span 8
  > [data-width="7"]
    grid-column: span 7
  > [data-width="6"]
    grid-column: span 6
  > [data-width="5"]
    grid-column: span 5
  > [data-width="4"]
    grid-column: span 4
  > [data-width="3"]
    grid-column: span 3
  > [data-width="2"]
    grid-column: span 2
  > [data-width="1"]
    grid-column: span 1

  &::after
    +h( d-none )

  select
    +h( tt-capitalize )

  // single field
  div.acf-field
    +h( p0 )


// MESSAGE Field
div.acf-block-body div.acf-field.acf-field-message
  +h( as-end pv0_5 ph1 bg-white_50 )

  .acf-label
    +h( d-none )

  p
    +h( m0 )
  
  &:first-child
    p
      +h( ta-center fw700 )
      font-size: 14px


// RADIO field
div.acf-block-body .acf-field-radio
  .acf-label
    +h( mr1 )

  .acf-radio-list
    +h( mb0 )

// GALLERY field
div.acf-block-body
  .acf-gallery-toolbar ul
    +h( mb0 )

  .acf-gallery-main
    right: 0 !important

  .acf-gallery-side
    +h( absolute )
    z-index: 10
  
  .acf-gallery-side-info
    +h( w-auto )
    margin: -10px -10px 1em


// WYSIWYG field

// Remove most buttons in TinyMCE Editor
div.acf-block-component .acf-field-wysiwyg
  [aria-label*="Underline"],
  [aria-label*="Blockquote"],
  [aria-label*="Strikethrough"],
  [aria-label*="Align"],
  [aria-label*="Undo"],
  [aria-label*="Redo"],
  [aria-label*="Fullscreen"],
  [aria-label*="Read More"],
  [aria-label*="Toolbar Toggle"]
    +h( d-none )

div.acf-block-component .acf-field-wysiwyg .mce-edit-area iframe
  height: 200px


// RELATIONSHIP field

div.acf-block-body .acf-relationship
  @extend %acf-wide-field


// TAB field

div.acf-block-body .acf-fields > .acf-tab-wrap
  +h( bg-transparent )

  .acf-tab-group
    +h( mh-4_5 ph4_5 )
    border-top: none
    
    li.active a
      background-color: $acf-block-bg


// REPEATER field

div.acf-block-body .acf-repeater
  @extend %acf-wide-field

  .acf-table
    border-collapse: collapse

  .acf-row-handle
    background-color: #f9f9f9

  .acf-row-handle.order
    border-right: 1px solid #dfdfdf

div.acf-block-body .acf-repeater.-block
  .acf-fields
    padding: 0.5rem !important
    border-bottom: 1px solid #dfdfdf


div.acf-block-body .acf-repeater.-row
  .acf-fields
    grid-row-gap: 0
  
  .acf-field
    +h( p0_5 )

  .acf-label
    +h( p0 )

  .acf-input
    +h( p0 ph0_25 )


// FLEXIBLE CONTENT field

div.acf-block-body .acf-flexible-content
  @extend %acf-wide-field

  .acf-fields
    +h( bg-white_10 )

// fields at sidebar
div.acf-block-body .acf-block-fields
  +h( pv1 )

  div.acf-field
    +h( mb1 )
    padding: 0 1rem
    width: 100% !important

    &.acf-field-message
      +h( d-none )


//

.acf-block-post-list
  a
    +h( events-none )