
$shadow-z1: 0 1.5px 4px rgba(black, .24), 0 1.5px 6px rgba(black, .12);

/////


// TinyMCE Advanced Table toolbar

.mce-tinymce-inline.mce-floatpanel {
  background-color: #f0f0f0;
  border: 1px solid rgba(black, .2);
  box-shadow: $shadow-z1;
}
