
///// ACF GUTENBERG

.acf-block-body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  .acf-label,
  .acf-input p,
  .acf-label .description,
  .acf-table {
    font-size: 13px;
  }

  // Add color to Message Field (temporarily used as Header)
  .acf-field-message {
    background-color: rgba(#0073aa, .2);

    #editor & {
      padding: 8px 20px;
    }

    .acf-label {
      margin-bottom: 0;
    }

    label {
      cursor: default;
    }
  }

  .acf-field-message p {
    margin: 0;
  }
}

[data-type*="acf/"] .editor-block-list__breadcrumb {
  // hide the small block name that appears on hover
  .components-toolbar {
    display: none;
  }
}

///// ACF GUTENBERG PREVIEW

h-grid { display: -ms-grid; display: grid; grid-template-columns: repeat(12, 1fr); grid-column-gap: 20px; max-width: 1140px; padding: 0 10px; margin: 0 auto; }

h-grid.collapse { grid-column-gap: 0; }

h-grid h-grid { margin: 0; padding: 0; }

.large-1 { grid-column: span 1; }

.large-2 { grid-column: span 2; }

.large-3 { grid-column: span 3; }

.large-4 { grid-column: span 4; }

.large-5 { grid-column: span 5; }

.large-6 { grid-column: span 6; }

.large-7 { grid-column: span 7; }

.large-8 { grid-column: span 8; }

.large-9 { grid-column: span 9; }

.large-10 { grid-column: span 10; }

.large-11 { grid-column: span 11; }

.large-12 { grid-column: span 12; }

@media only screen and (max-width: 767px) { [class*="large-"] { grid-column: span 12; }
  .small-1 { grid-column: span 1; }
  .small-2 { grid-column: span 2; }
  .small-3 { grid-column: span 3; }
  .small-4 { grid-column: span 4; }
  .small-5 { grid-column: span 5; }
  .small-6 { grid-column: span 6; }
  .small-7 { grid-column: span 7; }
  .small-8 { grid-column: span 8; }
  .small-9 { grid-column: span 9; }
  .small-10 { grid-column: span 10; }
  .small-11 { grid-column: span 11; }
  .small-12 { grid-column: span 12; } }

h-tile { display: -ms-grid; display: grid; grid-column-gap: 20px; grid-row-gap: 20px; }

h-tile.collapse { grid-column-gap: 0; }

h-tile > * { grid-column: span 1; }

.tile-1 { grid-template-columns: repeat(1, 1fr); }

.tile-2 { grid-template-columns: repeat(2, 1fr); }

.tile-3 { grid-template-columns: repeat(3, 1fr); }

.tile-4 { grid-template-columns: repeat(4, 1fr); }

.tile-5 { grid-template-columns: repeat(5, 1fr); }

.tile-6 { grid-template-columns: repeat(6, 1fr); }

.tile-7 { grid-template-columns: repeat(7, 1fr); }

.tile-8 { grid-template-columns: repeat(8, 1fr); }

@media only screen and (max-width: 767px) { [class*="tile-"] { grid-template-columns: repeat(1, 1fr); }
  .small-tile-1 { grid-template-columns: repeat(1, 1fr); }
  .small-tile-2 { grid-template-columns: repeat(2, 1fr); }
  .small-tile-3 { grid-template-columns: repeat(3, 1fr); }
  .small-tile-4 { grid-template-columns: repeat(4, 1fr); }
  .small-tile-5 { grid-template-columns: repeat(5, 1fr); }
  .small-tile-6 { grid-template-columns: repeat(6, 1fr); }
  .small-tile-7 { grid-template-columns: repeat(7, 1fr); }
  .small-tile-8 { grid-template-columns: repeat(8, 1fr); } }

@media (min-width: 768px) { .hide-for-l, .show-for-s { display: none !important; } }

@media only screen and (max-width: 767px) { .hide-for-s, .show-for-l { display: none !important; } }

@media (min-width: 481px) { .show-for-xs { display: none !important; } }

@media only screen and (max-width: 480px) { .hide-for-xs { display: none !important; } }
